<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="39">de</entry>
<entry key="DEF456">Dby2YlE3+YSJV1Bbzb9LYw==</entry>
<entry key="61">f</entry>
<entry key="ABC123">GgSaKKqwHS4FXzvIO5347g==</entry>
<entry key="34">wef</entry>
</properties>
