<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div>
            <h1 style="font-weight: bold">@TITULO</h1>
            <div>@COMPONENTE_TEXTO_TOP</div>
            <div>@EXCEL_TOP</div>
            <div>@COMPONENTE_TEXTO_BOTTOM</div>
            <div>@EXCEL_BOTTOM</div>
        </div>
    </body>
</html>